<%- include('header'); %>
    <main>
        <div id="admin-panel">
            <div id="admin-add">
                <h2>PGs</h2>
                <a href="/newpg">
                    <div id="admin-add-icon">+</div>
                </a>
            </div>
            <div id="admin-search">
                <% pgs.forEach(function(pg){ %>
                    <div id="admin-item">
                        <a href="/pgedit/<%= pg.name %>">
                            <p> Name:&nbsp;&nbsp;&nbsp;
                                <%= pg.name %>
                            </p>
                            <% if (pg.accepted==true) { %>
                                <p>Approved</p>
                            <% } else {%>
                                <p>Not Approved</p>
                            <% } %>
                        </a>
                        <a href="/delete/<%= pg.name %>">
                            <div id="admin-remove">x</div>
                        </a>
                    </div>
                    <% }) %>
            </div>
        </div>
    </main>

    <%- include('footer'); -%>