<%- include('header'); -%>
    <main>
        <div id="desc-map">
            <div id="desc">
                <p>
                    <%= pg.name %>
                </p>
                <p>
                    <%= pg.city %>
                </p>
                <p>Rs. <%= pg.price %> for one person annually</p>
                <!-- <p>acco</p> -->
                <!-- <p>Canteen</p> -->
                <p id="latit" hidden>
                    <%= pg.latitude %>
                </p>
                <p id="longit" hidden>
                    <%= pg.longitude %>
                </p>
            </div>
            <div id="mapper" style="width: 100%;">
                <iframe src="<%= mapURL %>" width="100%" height="520"></iframe>
            </div>
        </div>
        <div id="pg-pics">

        </div>
        <div id="comments">
            <div id="user-comment">
                <h3>Type in your thoughts!!</h3>
                <form action="/comment" method="POST">
                    <textarea name="content"></textarea>
                    <p>Your Rating</p><input type="number" name="score" max="5" min="1">
                    <button type="submit" id="login-submit">SUBMIT</button>
                    <input type="text" name="pgID" value="<%= pg.id %>" hidden>
                    <input type="text" name="pgName" value="<%= pg.name %>" hidden>
                </form>
            </div>
            <div id="fo-logo" style="margin-left: 630px; margin-top: 20px;">pg<span>COMMENTS</span></div>
            <% comments.forEach(function(comment) { %>
                <div id="com">
                    <div id="com-user">
                        <h5><a href="/user/<%= comment.username %>"><%= comment.username %></a></h5>
                        <div id="rating-comment"><%= comment.score %></div>
                    </div>
                    <p><%= comment.content %></p>
                </div>
            <% }); %>
        </div>
    </main>
    <%- include('footer'); -%>