<%- include('header'); %>
    <main id="search-page">
        <div id="filters">
            <form method="POST" action="/search">
                <div id="filter-fields">
                    <h2>Cities</h2>
                    <% cities.forEach(function(city){ %>
                        <div><input type="checkbox" value="<%= city %>" name="cities"><%= city %></div>
                        <% }); %>
                </div>
                <div id="filter-fields">
                    <h2>Price</h2>
                    <div><input type="checkbox">Below & 5000</div>
                    <div><input type="checkbox">5000-7000</div>
                    <div><input type="checkbox">7000-9000</div>
                    <div><input type="checkbox">9000-11000</div>
                    <div><input type="checkbox">11000 & above</div>
                </div>
                <div id="filter-fields">
                    <h2>Ratings</h2>
                    <div><input type="checkbox">1</div>
                    <div><input type="checkbox">2</div>
                    <div><input type="checkbox">3</div>
                    <div><input type="checkbox">4</div>
                    <div><input type="checkbox">5</div>
                </div>
                <button type="submit" id="login-submit">Filter</button>
            </form>
        </div>
        <div id="results">
            <% pgs.forEach(function(pg){ %>
                <a href="/pg/<%= pg.name %> ">
                    <div id="item">
                        <div id="rating-search"><%= pg.avgRating %></div>
                        <p>
                            <%= pg.name %>
                        </p>
                        <p>
                            <%= pg.city %>
                        </p>
                        <p>Rs. <%= pg.price %>
                        </p>
                    </div>
                </a>
                <% }); %>
        </div>
    </main>



    <%- include('footer'); %>