<%- include('header'); %>
    <main id="search-page">
        <div id="filters">
            <% if (dikhaneKa != -1) { %>
            <form method="POST" action="/search">
                <div id="filter-fields">
                    <h2>Cities</h2>
                    <% cities.forEach(function(city){ %>
                        <div><input type="checkbox" value="<%= city %>" name="cities"><%= city %></div>
                        <% }); %>
                </div>
                <div id="filter-fields">
                    <h2>Price</h2>
                    <div><input name="price" value="0-5000" type="radio">Below 5000</div>
                    <div><input name="price" value="5000-10000" type="radio">5000-10000</div>
                    <div><input name="price" value="10000-15000" type="radio">10000-15000</div>
                    <div><input name="price" value="15000-20000" type="radio">15000-20000</div>
                    <div><input name="price" value="20000-1000000" type="radio">Above 20000</div>
                </div>
                <div id="filter-fields">
                    <h2>Ratings</h2>
                    <div><input name="rating" value="1" type="checkbox">1</div>
                    <div><input name="rating" value="2" type="checkbox">2</div>
                    <div><input name="rating" value="3" type="checkbox">3</div>
                    <div><input name="rating" value="4" type="checkbox">4</div>
                    <div><input name="rating" value="5" type="checkbox">5</div>
                </div>
                <button type="submit" id="login-submit">Filter</button>
            </form>
            <% } %>
        </div>
        <div id="results">
            <% pgs.forEach(function(pg){ %>
                <a href="/pg/<%= pg.name %> ">
                    <div id="item">
                        <div id="rating-search"><%= pg.avgRating %></div>
                        <p> Name:&nbsp;&nbsp;&nbsp;
                            <%= pg.name %>
                        </p>
                        <p>Location:&nbsp;&nbsp;&nbsp;
                            <%= pg.city %>
                        </p>
                        <p>Price:&nbsp;&nbsp;&nbsp;
                            Rs. <%= pg.price %>
                        </p>
                    </div>
                </a>
                <% }); %>
        </div>
    </main>



    <%- include('footer'); %>