<%- include('header'); -%>
    <main>
        <div id="profile">
            <div id="stats">
                <h3>Username :</h3>
                <h3>Age :</h3>
                <h3>Location :</h3>
                <h3>Total Ratings :</h3>
            </div>
            <div id="per-stats">
                <h3><%= user.username %> </h3>
                <h3><%= user.age %> </h3>
                <h3><%= user.location %> </h3>
                <h3><%= user.totalRatings %> </h3>
            </div>
        </div>
        <div id="user-ratings">
            <div id="rat-logo">my<span>Ratings</span></div>
            <div id="rat">
                <% comments.forEach(function(comment){ %>
                <div>
                    <h4><a href="/pg/<%= comment.pgName %>"><%= comment.pgName %></a>, &nbsp;15</h4>
                    <div id="rating"><%= comment.score %></div>
                    <p><%= comment.content %> </p>
                </div>
            <% }) %>
            </div>
        </div>
    </main>
<%- include('footer'); -%> 